
body {
    background: #ECECEC;
}

*{
	font-family: 'Montserrat';
}

#ensemble {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 400px;
}

#welcome {
    font-size: 4em;
    color: #3DBFB1;
}

h2 {
    font-size: 3em;
    text-align: center;
    margin-top: 50px;
}

#projets {
    display: flex;
    justify-content: space-around;
}
.image {
    margin-top: 50px;
    position: relative;
    cursor: pointer;
}

.image img {
    display: block;
    height: 400px;
    width: 600px;
}

.hover {
    height: 400px;
    width: 0px;
    background: rgba(95,174,242,0.7);
    position: absolute;
    top: 0;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    transition: 0.7s ease;
    display: flex;
}

.image:hover .hover{
  width: 600px;
}

.hover h2{
  padding: 10px 30px;
}

a {
    text-decoration: none;
    color: #fff;
}

#smooth:hover {
   background: rgba(0,0,0,0);
}

#contact {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

label {
    font-size: 1.5em;
    font-weight: bold;
    display:block;
    width: 300px;
    float:left;
    margin-top: 30px;
    color: #fff;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 550px;
    background: rgba(0,0,0,0.8);
    padding: 30px;
    border-radius: 5px;

}

input {
    margin-top: 30px;
    height: 40px;
    width: 300px;
}

input[type=submit] {
    background-color: #FF7800;
    color: white;
}

textarea {
    margin-top: 30px;
    width: 500px;
    height: 200px;
}

#bouton {
    display: flex;
    justify-content: space-around;
}

i:hover {
    color: #3DBFB1;
}

.lien {
    text-decoration: none;
    font-size: 1em;
    color: black;
    margin-left: 40px;
}

.lien:hover {
    font-weight: bold
}

#droite {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
}

#bio {
    font-size: 2em;
    text-align: left;
    background-size: 200px 100px;
    border-radius: 10px;
}

p {
    font-size: 1.5em;
}

#ordix {
    width: 400px;
    height: 334px;
    margin-left: 100px;
}

@media screen and (max-width:1050px){
#ensemble {
    align-items: center;
    margin-top: 700px;
}
#welcome {
    font-size: 5em;
}
h2 {
    font-size: 3.5em;
}

#projets {
    display: flex;
    flex-direction: column;
}
.image img {
    height: 600px;
    width: 800px;
}
#contact {
    display: flex;
    flex-direction: column;
}

#bio {
    text-align: center;
    font-size: 2em;
    margin-top:30px;
}

.lien {
    font-size: 3em;
}

#ordix {
    width: 500px;
    height: 417px;
}
form {
    max-width: 900px;
    margin-top: 20px;
}

input {
    margin-top: 30px;
    height: 60px;
    width: 450px;
}

textarea {
    margin-top: 30px;
    width: 700px;
    height: 400px;
}

label {
    font-size: 3em;
    width: 300px;
}

#bouton {
    margin-top: 30px;
}

.hover {
    height: 600px;
}
.image:hover .hover{
  width: 800px;
}

}