{% extends "nav.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link type="text/css" href="static/style.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/45e38e596f.js" crossorigin="anonymous"></script>
    <title>Theotim Herin</title>
</head>
<header class="py-5"> 
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder  mb-2"><b>Théotim Herin</b></h1>
                    <p class="lead fw-normal mb-4">Développeur d'application Python</p>
                </div>
            </div>
            
        </div>
    </div>
</header>
<section class="page-section py-5" id="about"  style="background: #e7e5e5;">
    <div class="container text-center">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-danger"><b>About</b></h2>
        <i class="fas fa-minus fa-2x"></i>
        <div class="row text-center">
            <div class="col-md-12 text-center">
                <img class="img-fluid rounded-3 my-5" src="static/image/moi.jpg" alt="..." style="border-radius: 100px; width: 300px;height: 253px;" id="profile"/>
                
            </div>
            
            <div class="col">
                <p style="font-size: 1.3rem;">Je m'appelle Théotim Herin. Passionné par la programmation depuis maintenant deux ans. J'ai décidé de me réorienté dans cette branche. Je suis diplomé du Parcours développeur d'application Python de l'école d'Openclassrooms. Je suis avctivement à la recherche d'un job de développeur junior.
                <br><b>Intéressé par mon profile?<a href="mailto:theotim.herin@gmail.com" class="link-about text-danger">Email</a></b></p>
            </div>
        </div>
        <!-- About Section Button-->
        <div class="text-center mt-4" style="margin-bottom: 30px;">
            <a class="btn btn-xl btn-outline-dark" href="https://startbootstrap.com/theme/freelancer/">
                Download CV!  
            </a>
        </div>
    </div>
    <div class="row py-4 d-flex align-items-center">
        <div class="col-md-12 text-center">
            <a href="https://www.linkedin.com/in/theotim-h-6803b886/" target="_blank" class="link-about"><i class="fab fa-linkedin-in text-danger mr-4 fa-2x"></i></a>
            <a href="https://github.com/Theodrem/Grand_Papy_Openclassrooms" target="_blank" class="link-about"><i class="fab fa-github text-danger mr-4 fa-2x"></i></a>
        </div>
    </div>
</section>
<section class="py-5" id="project" style="background: #9F9F9F;">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center">
                    <h2 class="fw-bolder text-danger"><b>PROJET</b></h2>
                    <i class="fas fa-minus fa-2x"></i>
                    <p class="lead fw-normal text-white mb-5">Presentation de certains de mes projets scolaires et personnels. Retrouvez tous mes codes ur Github.</p>
                </div>
            </div>
        </div>
        <div class="row gx-5" style="margin-top: 50px;">
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="static/image/gool.PNG" alt="..." />
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">Gloot</div>
                        <a class="text-decoration-none link-dark stretched-link" href="http://159.65.56.183/"><h5 class="card-title mb-3">Site web de suggestion de défis</h5></a>
                        <p class="card-text mb-0">Projet effectué avec Django-Rest-Framework/Vue.js. Déployé avec Ubuntu/Nginx/Gunicorn et hébergé par Digital Océan.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="static/image/pure.PNG" alt="..." />
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">Pure Beurre</div>
                        <a class="text-decoration-none link-dark stretched-link" href="http://165.227.235.195/"><h5 class="card-title mb-3">Site web de suggestion de substituts alimentaires</h5></a>
                        <p class="card-text mb-0">Projet effectué avec Django3 Déployé avec Ubuntu/Nginx/Gunicorn et hébergé par Digital Océan.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="static/image/grand-p.PNG" alt="..." />
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">Grand Papy Bot</div>
                        <a class="text-decoration-none link-dark stretched-link" href="https://grand-papy-bot-th.herokuapp.com/"><h5 class="card-title mb-3">Site web de Géolocalisation et d'histoire</h5></a>
                        <p class="card-text mb-0">Projet effectué avec Flask. Déployé avec Heroku.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="static/image/maze.jpg" alt="..." />
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">Grand Papy Bot</div>
                        <a class="text-decoration-none link-dark stretched-link" href="https://github.com/Theodrem/Labyrinthe-Openclassrooms"><h5 class="card-title mb-3">Jeu de labyrinthe en 2D</h5></a>
                        <p class="card-text mb-0">Projet effectué en langage Python. Le programme est fait en Programmation orienté objet et utilise l'outil Pygame.</p>
                    </div>
                </div>
            </div>

        </div>
        <!-- Call to action-->
    </div>
</section>
<section class="p-5 skill">
    <div class="container-fluid">
        <!-- title -->
        <div class="row text-center">
            <div class="col m-4">
                <h2  class="text-danger"><b>SKILLS</b></h2>
                <i class="fas fa-minus fa-2x"></i>
            </div>
        </div>
        <!-- end of title -->
        <div class="row my-5">
            <div class="col-md-4 text-center">
                <i class="fas fa-cogs fa-3x text-danger mb-4"></i>
                <h1 class="mb-3"> Back End</h1>
                <p class="text-danger"><b>Python, Django3, Django-Rest-Framework, Flask</b></p>
            </div>
            <div class="col-md-4 text-center">
                <i class="fas fa-crop fa-3x text-danger mb-4"></i>
                <h1 class="mb-3"> Front End</h1>
                <p class="text-danger"><b>Javascript, Vuejs, Bootstrap, HTML/CSS</b> </p>
            </div>
            <div class="col-md-4 text-center">
                <i class="fas fa-database fa-3x text-danger mb-4"></i>
                <h1 class="mb-3"> Databases</h1>
                <p class="text-danger"><b>SQL, SQLAlchemy, MySQL, Sqlite, PostgreSql</b> </p>
            </div>
        </div>
    </div>
</section>
<section id="contact "class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="text-danger" style="margin-top: 20px;"><b>CONTACT</b></h2>
                <i class="fas fa-minus fa-2x text-white"></i>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-6 offset-3 text-center ">
                <form action="{{ url_for('home') }}" method=post>
                    {% for message in get_flashed_messages() %}
                        <div class="flash">{{ message }}</div>
                    {% endfor %}
        
        
                    {{ form.hidden_tag() }}
        
                    {{ form.nom.label (style="margin-top:30px; font-weight:bold; color: white;") }}
                    {{ form.nom (class="form-control",id="email",required='required',value="",placeholder="Enter nom") }}  
        
        
                    {{ form.email.label (style="margin-top:30px; font-weight:bold; color:white;") }}
                    {{ form.email (class="form-control",id="email",required='required',type="text",value="",placeholder="Enter email") }}
        
        
                    {{ form.sujet.label (style="margin-top:30px; font-weight:bold; color:white;") }}
                    {{ form.sujet (class="form-control",id="email",required='required',type="text",value="",placeholder="Enter sujet") }}
        
                    {{ form.message.label (style="margin-top:30px; font-weight:bold; color:white;") }}
                    {{ form.message (class="form-control",id="email",required='required',type="text",value="",placeholder="Enter message")  }}
        
                     <p id="inscription" style="margin-top: 20px;">{{ form.envoyer }}</p>
                </form>
            </div>
        </div>
    </div>
</section>


{% endblock %}
